<section
  class="
    flex flex-row
    items-center
    justify-center
    w-full
    h-full
    bg-gradient-to-br
    from-indigo-300
    to-purple-400
  "
>
  <mat-card class="-mt-32">
    <mat-card-title>404 - Page Not Found</mat-card-title>
    <mat-card-content>
      The page you are looking for either does not exist or it has been removed
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/"><mat-icon>chevron_left</mat-icon> Go Back</a>
    </mat-card-actions>
  </mat-card>
</section>
