.container {
  @apply w-96 max-w-full align-top;
}

.list {
  min-height: 65px;
  @apply border border-gray-300 rounded-md block overflow-hidden;
}

.item {
  @apply py-5 px-3 border-b border-gray-300 cursor-move text-sm bg-white;
}

/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  @apply shadow-xl rounded-md;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.dashed-placeholder .cdk-drag-placeholder {
  @apply border-indigo-400 border-4 border-dashed box-content;
}

.hidden-placeholder .cdk-drag-placeholder {
  /* opacity: 0; */
}

.empty-drop-zone {
  @apply border-indigo-400 border-4 border-dashed box-content bg-indigo-50 h-64 rounded-md;
}
