<div
  cdkDropListGroup
  class="flex flex-row p-4 gap-2"
  *ngIf="userMode === 'editing'"
>
  <div class="container drag-list hidden-placeholder">
    <div
      class="list"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="inputTypes"
      [cdkDropListEnterPredicate]="noReturnPredicate"
      (cdkDropListExited)="onSourceListExited($event)"
      (cdkDropListEntered)="onSourceListEntered($event)"
      [cdkDropListConnectedTo]="formInputList"
    >
      <div
        [class.border-none]="isLast"
        class="item"
        *ngFor="let input of inputTypes; let isLast = last; let index = index"
        cdkDrag
        [cdkDragData]="input"
      >
        {{ input.dndName }}
      </div>
    </div>
  </div>

  <div
    class="container dashed-placeholder"
    [class.hidden-placeholder]="formInputs.length === 0"
  >
    <div
      cdkDropList
      #formInputList="cdkDropList"
      [cdkDropListData]="formInputs"
      [class.list]="formInputs.length > 0"
      [class.empty-drop-zone]="formInputs.length === 0"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        [class.border-none]="isLast"
        class="item"
        *ngFor="let item of formInputs; let isLast = last"
        cdkDrag
        [cdkDragData]="item"
      >
        {{ item?.templateOptions?.label }}
      </div>
      <p *ngIf="formInputs.length === 0">Drop an input here</p>
    </div>
  </div>
</div>

<form
  class="h-64 w-full"
  [formGroup]="formPreview"
  *ngIf="userMode === 'preview'"
>
  <formly-form
    [form]="formPreview"
    [model]="formPreviewModel"
    [fields]="formPreviewFields"
  ></formly-form>
</form>
